.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might contain secrets
.env
.env.*

# Editor/IDE
.vscode/
.idea/

# Quarto
_site/
.quarto/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Jupyter
.ipynb_checkpoints/

**/*.quarto_ipynb
